# Lab: sqlite

Connect to the sqlite database `data/real-estate.db` and determine the average sale price grouped by `type` and `zip`

In [1]:
import sqlite3

stmt = '''
SELECT type, zip, count(*), avg(price) as sale 
    FROM transactions 
    GROUP BY type, zip
    ORDER BY SALE DESC
'''

conn = sqlite3.connect('data/real-estate.db')
with conn:
    c = conn.cursor()
    c.execute(stmt)
    for row in c:
        print(row)

('Residential', 95746, 3, 678733.3333333334)
('Residential', 95693, 5, 617508.4)
('Residential', 95650, 2, 567000.0)
('Residential', 95663, 1, 506688.0)
('Residential', 95603, 3, 494818.0)
('Residential', 95762, 23, 491698.95652173914)
('Residential', 95633, 1, 490000.0)
('Residential', 95819, 4, 465750.0)
('Residential', 95677, 6, 430640.8333333333)
('Residential', 95630, 16, 425895.1875)
('Residential', 95811, 2, 403474.0)
('Residential', 95635, 1, 395000.0)
('Residential', 95747, 18, 387400.72222222225)
('Residential', 95690, 1, 380000.0)
('Residential', 95814, 3, 367728.6666666667)
('Residential', 95864, 5, 364400.0)
('Residential', 95667, 10, 363863.4)
('Residential', 95661, 8, 360903.25)
('Condo', 95816, 1, 360000.0)
('Residential', 95765, 11, 355214.9090909091)
('Residential', 95742, 11, 350009.0909090909)
('Residential', 95816, 3, 345000.0)
('Residential', 95757, 36, 338334.5833333333)
('Residential', 95628, 8, 323625.75)
('Residential', 95608, 17, 314238.8823529412)
('Residential', 95831, 10, 313271.0)
('Residential', 95614, 1, 300000.0)
('Multi-Family', 95827, 1, 297000.0)
('Residential', 95829, 11, 294142.45454545453)
('Residential', 95678, 15, 291494.4666666667)
('Residential', 95835, 33, 288068.63636363635)
('Residential', 95682, 8, 286562.5)
('Multi-Family', 95603, 1, 285000.0)
('Residential', 95818, 7, 283217.71428571426)
('Multi-Family', 95826, 1, 282400.0)
('Residential', 95662, 11, 279159.54545454547)
('Unkown', 95682, 1, 275000.0)
('Residential', 95841, 4, 274800.0)
('Condo', 95603, 1, 260000.0)
('Multi-Family', 95815, 2, 258383.5)
('Residential', 95624, 33, 256190.45454545456)
('Multi-Family', 95610, 1, 256054.0)
('Residential', 95834, 19, 255151.47368421053)
('Residential', 95623, 2, 247000.0)
('Residential', 95758, 39, 245888.38461538462)
('Residential', 95670, 18, 240353.38888888888)
('Residential', 95726, 3, 240302.66666666666)
('Condo', 95630, 1, 240000.0)
('Residential', 95655, 1, 237800.0)
('Residential', 95632, 21, 236943.42857142858)
('Residential', 95843, 32, 236168.15625)
('Multi-Family', 95670, 1, 236000.0)
('Residential', 95722, 1, 230000.0)
('Residential', 95821, 6, 228666.66666666666)
('Residential', 95683, 4, 223812.5)
('Residential', 95610, 6, 221500.0)
('Multi-Family', 95825, 1, 221250.0)
('Residential', 95619, 1, 216033.0)
('Residential', 95825, 8, 214251.5)
('Condo', 95834, 3, 205833.33333333334)
('Condo', 95678, 5, 204900.0)
('Residential', 95833, 19, 204385.15789473685)
('Residential', 95826, 13, 200061.46153846153)
('Condo', 95670, 2, 197452.5)
('Residential', 95631, 1, 194818.0)
('Residential', 95827, 8, 192492.125)
('Condo', 95608, 3, 190544.66666666666)
('Residential', 95828, 41, 186964.9512195122)
('Residential', 95621, 26, 183796.84615384616)
('Multi-Family', 95842, 1, 179580.0)
('Condo', 95835, 4, 178986.0)
('Residential', 95823, 60, 176880.43333333332)
('Residential', 95832, 12, 175196.83333333334)
('Residential', 95673, 13, 172727.61538461538)
('Residential', 95691, 3, 170700.0)
('Condo', 95648, 2, 163000.0)
('Multi-Family', 95828, 4, 161225.0)
('Residential', 95822, 23, 160000.60869565216)
('Condo', 95747, 2, 160000.0)
('Residential', 95842, 16, 157920.8125)
('Residential', 95817, 7, 151122.7142857143)
('Residential', 95838, 37, 149461.35135135136)
('Residential', 95820, 23, 143371.47826086957)
('Condo', 95628, 1, 142500.0)
('Residential', 95660, 21, 135659.33333333334)
('Residential', 95626, 4, 132866.0)
('Condo', 95825, 4, 132666.5)
('Condo', 95841, 3, 132481.0)
('Condo', 95758, 5, 123400.0)
('Condo', 95682, 1, 119000.0)
('Condo', 95843, 1, 115000.0)
('Residential', 95824, 12, 114467.58333333333)
('Condo', 95822, 1, 104250.0)
('Residential', 95815, 16, 97226.6875)
('Residential', 95648, 70, 94640.38571428572)
('Condo', 95826, 4, 94240.0)
('Condo', 95621, 2, 92625.0)
('Condo', 95833, 1, 92000.0)
('Condo', 95842, 5, 89177.2)
('Condo', 95823, 1, 77000.0)
('Condo', 95624, 1, 71000.0)

# Lab: mysql

Connect to the mysql database and determine the mean population in the `states` table:

In [3]:
host = 'advanced-python.c9zriyyu6mtc.us-east-1.rds.amazonaws.com'
import pymysql

conn = pymysql.connect(
    host=host,
    user='newuser',
    password='password',
    db='class'
)

In [4]:
with conn.cursor() as c:
    c.execute('SELECT * FROM states LIMIT 1')
    print(c.fetchone())
c.description

(0, 'AL', 'Alabama', 135767, 4874747.0)

(('index', 8, None, 20, 20, 0, True),
 ('Abbreviation', 252, None, 262140, 262140, 0, True),
 ('state', 252, None, 262140, 262140, 0, True),
 ('area', 8, None, 20, 20, 0, True),
 ('pop', 5, None, 22, 22, 31, True))

In [5]:
with conn.cursor() as c:
    c.execute('SELECT AVG(pop), COUNT(*) FROM states')
    print(c.fetchone())

(6438478.098039215, 52)

In [6]:
with conn.cursor() as c:
    c.execute('SELECT state FROM states')
    for row in c:
        print(row)

('Alabama',)
('Alaska',)
('Arizona',)
('Arkansas',)
('California',)
('Colorado',)
('Connecticut',)
('Delaware',)
('Florida',)
('Georgia',)
('Hawaii',)
('Idaho',)
('Illinois',)
('Indiana',)
('Iowa',)
('Kansas',)
('Kentucky',)
('Louisiana',)
('Maine',)
('Maryland',)
('Massachusetts',)
('Michigan',)
('Minnesota',)
('Mississippi',)
('Missouri',)
('Montana',)
('Nebraska',)
('Nevada',)
('New Hampshire',)
('New Jersey',)
('New Mexico',)
('New York',)
('North Carolina',)
('North Dakota',)
('Ohio',)
('Oklahoma',)
('Oregon',)
('Pennsylvania',)
('Rhode Island',)
('South Carolina',)
('South Dakota',)
('Tennessee',)
('Texas',)
('Utah',)
('Vermont',)
('Virginia',)
('Washington',)
('West Virginia',)
('Wisconsin',)
('Wyoming',)
('Puerto Rico',)
('Guam',)