# Dispy: Distributed Programming Python

Dispy is a higher-level framework that leverages `pycos`. To use it, you should first start an instance of `dispynode.py` on each node in your cluster.

In [1]:
# 'compute' is distributed to each node running 'dispynode'
def compute(n):
    import time, socket
    time.sleep(n)
    host = socket.gethostname()
    return (host, n)

In [2]:
MY_IP = '192.168.1.70'

In [3]:
import dispy

In [4]:
cluster = dispy.JobCluster(compute, ip_addr=MY_IP)

2020-05-22 14:39:55 pycos - version 4.8.15 with kqueue I/O notifier
2020-05-22 14:39:55 dispy - dispy client version: 4.12.2
2020-05-22 14:39:55 dispy - Storing fault recovery information in "_dispy_20200522143955"

In [5]:
import random
def schedule_jobs(cluster):
    jobs = [cluster.submit(random.randint(5, 20)) for i in range(10)]
    for i, job in enumerate(jobs):
        job.id = i
    return jobs

def await_jobs(jobs):
    # cluster.wait() # waits for all scheduled jobs to finish
    for job in jobs:
        host, n = job() # waits for job to finish and returns results
        print('%s executed job %s at %s with %s' % (host, job.id, job.start_time, n))
        # other fields of 'job' that may be useful:
        # print(job.stdout, job.stderr, job.exception, job.ip_addr, job.start_time, job.end_time)

In [6]:
jobs = schedule_jobs(cluster)

In [7]:
await_jobs(jobs)

faramir executed job 0 at 1590183596.316693 with 15
faramir executed job 1 at 1590183596.321036 with 17
faramir executed job 2 at 1590183596.321804 with 8
faramir executed job 3 at 1590183596.3238232 with 8
faramir executed job 4 at 1590183596.324147 with 16
faramir executed job 5 at 1590183596.326897 with 10
faramir executed job 6 at 1590183596.329204 with 11
faramir executed job 7 at 1590183596.331839 with 7
faramir executed job 8 at 1590183603.347698 with 16
faramir executed job 9 at 1590183604.336363 with 5

In [8]:
cluster.print_status()

            Node |  CPUs |    Jobs |  Sec/Job | Node Time Sec |    Sent |    Rcvd
---------------------------------------------------------------------------------
         faramir |     8 |      10 |     11.3 |         113.1 |   1.8 K |   2.4 K

Total job time: 113.078 sec, wall time: 23.832 sec, speedup: 4.745

## Managing clusters with a web front-end

In [9]:
import dispy.httpd
http_server = dispy.httpd.DispyHTTPServer(cluster)

2020-05-22 14:40:26 dispy - Started HTTP server at ('0.0.0.0', 8181)

In [10]:
jobs = schedule_jobs(cluster)
await_jobs(jobs)

faramir executed job 0 at 1590183646.701706 with 17
faramir executed job 1 at 1590183646.709685 with 10
faramir executed job 2 at 1590183646.710319 with 13
faramir executed job 3 at 1590183646.713085 with 15
faramir executed job 4 at 1590183646.7135282 with 20
faramir executed job 5 at 1590183646.715692 with 6
faramir executed job 6 at 1590183646.716566 with 9
faramir executed job 7 at 1590183646.71979 with 6
faramir executed job 8 at 1590183652.731968 with 10
faramir executed job 9 at 1590183652.736709 with 10

In [11]:
cluster.close()

True

In [12]:
http_server.shutdown()

2020-05-22 14:42:01 dispy - HTTP server waiting for 10 seconds for client updates before quitting

## Transferring dependencies

Jobs can also specify Python objects or files on which the depend:

In [19]:
def make_df():
    import pandas as pd
    return pd.read_csv('./data/states.csv')

In [25]:
cluster = dispy.JobCluster(
    make_df, ip_addr='192.168.1.90', 
    depends=['data/states.csv']
)

In [26]:
job = cluster.submit()

In [27]:
job()

   Abbreviation           state     area         pop
0            AL         Alabama   135767   4874747.0
1            AK          Alaska  1723337    739795.0
2            AZ         Arizona   295234   7016270.0
3            AR        Arkansas   137732   3004279.0
4            CA      California   423967  39536653.0
5            CO        Colorado   269601   5607154.0
6            CT     Connecticut    14357   3588184.0
7            DE        Delaware     6446    961939.0
8            FL         Florida   170312  20984400.0
9            GA         Georgia   153910  10429379.0
10           HI          Hawaii    28313   1427538.0
11           ID           Idaho   216443   1716943.0
12           IL        Illinois   149995  12802023.0
13           IN         Indiana    94326   6666818.0
14           IA            Iowa   145746   3145711.0
15           KS          Kansas   213100   2913123.0
16           KY        Kentucky   104656   4454189.0
17           LA       Louisiana   135659   4684333.0
18           ME           Maine    91633   1335907.0
19           MD        Maryland    32131   6052177.0
20           MA   Massachusetts    27336   6859819.0
21           MI        Michigan   250487   9962311.0
22           MN       Minnesota   225163   5576606.0
23           MS     Mississippi   125438   2984100.0
24           MO        Missouri   180540   6113532.0
25           MT         Montana   380831   1050493.0
26           NE        Nebraska   200330   1920076.0
27           NV          Nevada   286380   2998039.0
28           NH   New Hampshire    24214   1342795.0
29           NJ      New Jersey    22591   9005644.0
30           NM      New Mexico   314917   2088070.0
31           NY        New York   141297  19849399.0
32           NC  North Carolina   139391  10273419.0
33           ND    North Dakota   183108    755393.0
34           OH            Ohio   116098  11658609.0
35           OK        Oklahoma   181037   3930864.0
36           OR          Oregon   254799   4142776.0
37           PA    Pennsylvania   119280  12805537.0
38           RI    Rhode Island     4001   1059639.0
39           SC  South Carolina    82933   5024369.0
40           SD    South Dakota   199729    869666.0
41           TN       Tennessee   109153   6715984.0
42           TX           Texas   695662  28304596.0
43           UT            Utah   219882   3101833.0
44           VT         Vermont    24906    623657.0
45           VA        Virginia   110787   8470020.0
46           WA      Washington   184661   7405743.0
47           WV   West Virginia    62756   1815857.0
48           WI       Wisconsin   169635   5795483.0
49           WY         Wyoming   253335    579315.0
50           PR     Puerto Rico    13791   3337177.0
51           GU            Guam     1478         NaN

In [28]:
cluster.print_status()

            Node |  CPUs |    Jobs |  Sec/Job | Node Time Sec |    Sent |    Rcvd
---------------------------------------------------------------------------------
         faramir |     8 |       1 |      0.4 |           0.4 |   1.9 K |   5.6 K

Total job time: 0.415 sec, wall time: 2.870 sec, speedup: 0.145

In [29]:
cluster.close()

True

# Lab

Open [dispy lab](./dispy-lab.ipynb)