# A (fast) introduction to Python

(there is a whole lot more, but this should be enough to make us dangerous)

## Python is dynamically typed

In [1]:
x = 5

In [2]:
type(x)

int

In [3]:
x = 'Foo'

In [4]:
type(x)

str

In [5]:
x + 15

TypeError: can only concatenate str (not "int") to str

In [6]:
x + str(15)

'Foo15'

### Basic types: numbers

In [7]:
type(1)

int

In [8]:
type(1.1)

float

In [9]:
3 / 2

1.5

Python can 'promote' ints to floats

In [10]:
1 * 2

2

In [11]:
1.0 * 2

2.0

Numerical operators

- `+`, `-`, `*`, `/`: add, subtract, multiply, divide
- `**` - exponentiation
- `//` - floor division 
- `%` - modulo division (find the remainder after integer division)

In [12]:
7 % 2

1

In [13]:
7 // 2

3

In [14]:
7 // 2.0

3.0

In [15]:
3.0 // 2

1.0

In [16]:
2 ** 123   # unbounded ints!

10633823966279326983230456482242756608

In [17]:
2 ** 63

9223372036854775808

In-place operators

`A += B` means `A = A + B`

In [18]:
a = 5
a += 6
a

11

Increment by one is just `a += 1`. There is no `a++`.

In [19]:
a += 1
a

12

Comparisons

- `<`, `<=`, `>`, `>=` - less than, less or equal, greater than, greater or equal
- `==`, `!=` - equal, not equal (works for things other than numbers, too)
- `is`, `is not` - checks object identity (was it a second cat, or was it the *same cat*?)

In [22]:
-5 < 10

True

In [23]:
5 + 2 == 9 - 2

True

In [24]:
lst0 = [1,2,3]
lst1 = [1,2,3]
lst2 = lst1

In [25]:
lst0 == lst1

True

In [26]:
lst0 is lst1

False

In [27]:
lst2 is lst1

True

### Basic types: Booleans

In [28]:
True

True

In [29]:
False

False

Boolean operators: `and`, `or`, `not`

In [30]:
5 < 3 or 3 > 2

True

In [31]:
a = 1
b = 2
(a + b == 3) and not (a == 5)

True

(most) Python values perform automatic boolean coercion when asked. `bool(any_type_of_zero)` is `False`, everything else is `True`

In [32]:
bool(0)

False

In [33]:
bool(-1)  # or anything that is not zero

True

### `None` : Python's version of NULL

In [34]:
a = None
a == None

True

more commonly...

In [35]:
not a

True

In [36]:
a is None

True

In [37]:
a is not None

False

## Python has rich built-in collections

### Flexible strings: `str`

In [38]:
a = 'This is a string'
b = "and so is this"
c = '''If I use the triple quotes, 
I can extend my string over
multiple lines
'''
d = """Triple-up my double or my
triple quotes, Python doesn't care.
"""

In [39]:
a

'This is a string'

In [40]:
b

'and so is this'

In [41]:
c

'If I use the triple quotes, \nI can extend my string over\nmultiple lines\n'

In [42]:
print(c)

If I use the triple quotes,
I can extend my string over
multiple lines

In [43]:
d

"Triple-up my double or my\ntriple quotes, Python doesn't care.\n"

You can create a new string out of a substring of an existing string using 'slicing'

In [44]:
c

'If I use the triple quotes, \nI can extend my string over\nmultiple lines\n'

In [45]:
c[0]  # zero-based indexing

'I'

In [46]:
c[0:3] # from index 0 to 3, not including 3

'If '

In [47]:
c[:3]  # Python 'fills in' missing values

'If '

In [48]:
c[-1]  # Index from the end, going backward

'\n'

In [49]:
c[len(c)-1]

'\n'

In [50]:
c[  :   :  2  ]  # From beginning to end, take every other letter

'I  s h rpeqoe,\n a xedm tigoe\nutpelns'

In [51]:
c[1::2]

'fIuetetil uts Icnetn ysrn vrmlil ie\n'

In [52]:
c[  7   : # beginning 
    -5  : # ending
    2     # stride 
]

'etetil uts Icnetn ysrn vrmlil '

Explicitly:

 - If stride is omitted, it is 1
 - If stride is > 0
   - If begin is omitted, it is 0
   - If end is omitted, it is the end of string (len(s))
 - If stride is < 0
   - If begin is omitted, it is the end of string (len(s))
   - If end is omitted, it is the beginning of the string

In [53]:
c[::-1]

'\nsenil elpitlum\nrevo gnirts ym dnetxe nac I\n ,setouq elpirt eht esu I fI'

In [54]:
'NaN' * 8 + ' Batman'   # Strings can be duplicated (*) and concatenated (+)

'NaNNaNNaNNaNNaNNaNNaNNaN Batman'

In [55]:
print('=' * 60)
print('This is my title')
print('=' * 60)

============================================================
This is my title
============================================================

In [56]:
e = f"This has a={a}"

In [57]:
e

'This has a=This is a string'

In [58]:
'This has a=' + a

'This has a=This is a string'

In [59]:
'This has a=%s' % a   # string "iterpolation"

'This has a=This is a string'

In [60]:
'This has a={}'.format(a)

'This has a=This is a string'

In [61]:
fmt = 'This has a={}'
fmt.format(a)

'This has a=This is a string'

http://pyformat.info

### Lists: dynamic types, dynamic sizes

In [62]:
lst0 = [1, 2, 'foo', None]  # but we don't do this a lot

In [63]:
lst1 = [2, 4, 8]

In [64]:
lst0 + lst1

[1, 2, 'foo', None, 2, 4, 8]

List slicing works like string slicing (and you can also put list slices on the left-hand-side of assignments!)

In [65]:
lst0[2]

'foo'

In [66]:
lst0[:2]

[1, 2]

Lists, unlike strings, are *mutable*

In [69]:
lst0[:] = [1,2,3]  # effectively replaces the elements of lst0
lst0

[1, 2, 3]

http://www.pythontutor.com/live.html#mode=edit

In [70]:
lst0.append('another item')
lst0

[1, 2, 3, 'another item']

In [71]:
lst0 += lst1  # lst0.extend(lst1)
lst0

[1, 2, 3, 'another item', 2, 4, 8]

In [72]:
item_index = lst0.index('another item')
item_index

3

In [73]:
# del lst0[item_index]
item = lst0.pop(item_index)
lst0

[1, 2, 3, 2, 4, 8]

In [74]:
item

'another item'

In [75]:
lst0.append(item)
lst0

[1, 2, 3, 2, 4, 8, 'another item']

In [76]:
lst0.remove(2)

In [77]:
lst0

[1, 3, 2, 4, 8, 'another item']

Strings can be `.split` into lists:

In [80]:
words = 'the quick brown fox jumps over the lazy dog'.split()
words

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

They can also be joined back together

In [81]:
# words.join(' -*- ')
' -*- '.join(words)

'the -*- quick -*- brown -*- fox -*- jumps -*- over -*- the -*- lazy -*- dog'

In [82]:
''.join(words)

'thequickbrownfoxjumpsoverthelazydog'

In [83]:
words[1] = 'slow'
' '.join(words)

'the slow brown fox jumps over the lazy dog'

In [84]:
long_string = ' '.join(words)
long_string.split(maxsplit=2)

['the', 'slow', 'brown fox jumps over the lazy dog']

### Tuples: like lists, but immutable

In [85]:
1,2,3

(1, 2, 3)

In [86]:
1,

(1,)

In [87]:
()

()

In [88]:
tup = 1,2,3,4,5,6,7
tup[2:5]

(3, 4, 5)

In [89]:
tup0 = (1,2)
tup1 = 3,4
tup0+tup1

(1, 2, 3, 4)

In [90]:
tup0a = tup0
tup0 += tup1  # tup0 = tup0 + tup1

In [91]:
tup0

(1, 2, 3, 4)

In [92]:
tup0a

(1, 2)

### Dictionaries: dynamic mappings between keys and values

Keys should generally be immutable, so numbers, strings and tuples are OK, but `list`s and `dict`s are not.

In [93]:
sizes = {'tall': 12, 'grande': 16, 'venti': 20}
sizes

{'tall': 12, 'grande': 16, 'venti': 20}

In [94]:
sizes['grande']

16

In [95]:
sizes['trenta'] = 30
sizes

{'tall': 12, 'grande': 16, 'venti': 20, 'trenta': 30}

In [96]:
ts = 'tall short'.split()
ts = tuple(ts)
sizes[ts] = 12

In [97]:
sizes

{'tall': 12, 'grande': 16, 'venti': 20, 'trenta': 30, ('tall', 'short'): 12}

In [98]:
sizes[
    [1,2]
] = 12

TypeError: unhashable type: 'list'

In [99]:
sizes['tall', 'short']

12

In [100]:
key_tuple = 'tall', 'short'
sizes[key_tuple]

12

In [101]:
sizes['tall':'grande']

TypeError: unhashable type: 'slice'

### Sets: like dictionaries, but if you only kept the keys

In [102]:
s0 = {1, 2, 2, 2, 2, 3}
s0

{1, 2, 3}

In [103]:
s1 = {3, 4, 5}
s1

{3, 4, 5}

In [104]:
s1.add(5)

In [105]:
s1

{3, 4, 5}

In [106]:
s0 | s1  # set unionz

{1, 2, 3, 4, 5}

In [107]:
s0 & s1 # set intersection

{3}

In [108]:
s0 - s1  # set subtraction

{1, 2}

Gratuitous real-world example
```
source_ids - dest_ids  # ids to insert
dest_ids - source_ids  # ids to delete
source_ids & dest_ids  # ids to update```

In [109]:
s0 ^ s1  # set 'xor'

{1, 2, 4, 5}

In [110]:
(s0 | s1) - (s0 & s1)

{1, 2, 4, 5}

In [111]:
type({})

dict

In [112]:
set()

set()

In [113]:
set(lst0)

{1, 2, 3, 4, 8, 'another item'}

In [114]:
stooges = 'larry moe curley moe shemp moe curley'.split()

In [115]:
stooges

['larry', 'moe', 'curley', 'moe', 'shemp', 'moe', 'curley']

In [116]:
set(stooges)

{'curley', 'larry', 'moe', 'shemp'}

In [117]:
stooges = 'larry moe curley moe shemp moe curley'.split()
stooges

['larry', 'moe', 'curley', 'moe', 'shemp', 'moe', 'curley']

In [118]:
seen_stooges = set()
unique_stooges = []
for stooge in stooges:
    if stooge in seen_stooges:
        continue
    else:
        seen_stooges.add(stooge)
        unique_stooges.append(stooge)
unique_stooges

['larry', 'moe', 'curley', 'shemp']

### Common collection operations

All our collections support membership tests

In [119]:
print(d)

Triple-up my double or my
triple quotes, Python doesn't care.

In [120]:
'Python' in d   # substring check  O(n) (b/c of trie)

True

In [121]:
1 in [1,2,3]  # O(n)

True

In [122]:
2 in (4,5,6)  # O(n)

False

In [123]:
'quattro' in sizes # O(1)

False

In [124]:
s0

{1, 2, 3}

In [125]:
2 in s0    # O(1)

True

### Getting the length

In [129]:
len(d)

62

In [130]:
len([1,2,3])

3

In [131]:
len((4,5,6))

3

In [132]:
len(sizes)

5

### Truthiness rule of collections

If the `len()` of a collection is zero, it is `False`-y. Otherwise it is truthy.

```python
while lst:
    value = lst.pop()
    ...
```

```python
if lst:  # "is not empty"
    ...
```

In [133]:
len('')

0

In [134]:
bool('')

False

In [135]:
bool('True')

True

In [136]:
bool('False')

True

In [137]:
bool([])

False

In [138]:
bool(())

False

In [139]:
bool(set())

False

## Python has the control structures you'd expect

(but we use colons and indentation to show blocks, which can be surprising)

if / elif / else

In [140]:
customer_is_thirsty = True
low_on_coffee = False

if customer_is_thirsty:
    recommended_size = 'trenta'
elif low_on_coffee:
    recommended_size = 'tall'
else:
    recommended_size = 'grande'
    
print(recommended_size, '=>', sizes[recommended_size])

trenta => 30

In [141]:
recommended_size = 'trenta' if customer_is_thirsty else 'grande' # preferred -- like :?

In [ ]:
recommended_size = customer_is_thirsty and 'trenta' or 'grande'  # not preferred

while

In [142]:
remaining_coffee = 72

while remaining_coffee >= 12:
    if remaining_coffee >= 20:
        size = 'venti'
    elif remaining_coffee >= 16:
        size = 'grande'
    else:
        size = 'tall'
    ozs = sizes[size]
    remaining_coffee -= ozs
    print(f'Serving a {size} of {ozs}oz, leaving {remaining_coffee}oz for others')

Serving a venti of 20oz, leaving 52oz for others
Serving a venti of 20oz, leaving 32oz for others
Serving a venti of 20oz, leaving 12oz for others
Serving a tall of 12oz, leaving 0oz for others

for loops iterate over a collection (like `for each` in other languages)

In [143]:
size_keys = list(sizes)  # gets the keys
size_keys

['tall', 'grande', 'venti', 'trenta', ('tall', 'short')]

In [144]:
for name in size_keys:
    print(name)

tall
grande
venti
trenta
('tall', 'short')

If you *need* a sequence of numbers to use with a `for` loop, you can use the `range` function:

In [147]:
for x in range(5):   # [:5]
    print(x)

0
1
2
3
4

In [148]:
for x in range(10, 100, 5):   # [10:100:5]  for(i=10; i<100; i+=5)
    print(x, end=' ')

10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

## Comprehending comprehensions

Python makes building simple `list`s/`set`s/`dict`s easy

{ x ** 2 | x e range(10) }

In [149]:
lst = [x ** 2 for x in range(10)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [150]:
lst = []
for x in range(10):
    lst.append(x ** 2)
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [151]:
full_grid = [
    (x, y) 
    for x in range(4) 
    for y in range(4)
]
full_grid

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3)]

In [162]:
full_grid = []
for x in range(4):
    for y in range(4):
        full_grid.append((x, y))
        
full_grid

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3)]

In [168]:
partial_grid = [
    (x, y) 
    for x in range(4) 
    if x % 2 == 1
    for y in range(4)
    if x != y
]
partial_grid

[(1, 0), (1, 2), (1, 3), (3, 0), (3, 1), (3, 2)]

In [169]:
partial_grid = []
for x in range(4):
    if x % 2 == 1:
        for y in range(4):
            if x != y:
                partial_grid.append((x, y))
partial_grid

[(1, 0), (1, 2), (1, 3), (3, 0), (3, 1), (3, 2)]

In [155]:
matrix = [
    [(r, c) for c in range(5)]
    for r in range(5)
]
matrix

[[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4)],
 [(1, 0), (1, 1), (1, 2), (1, 3), (1, 4)],
 [(2, 0), (2, 1), (2, 2), (2, 3), (2, 4)],
 [(3, 0), (3, 1), (3, 2), (3, 3), (3, 4)],
 [(4, 0), (4, 1), (4, 2), (4, 3), (4, 4)]]

It works with sets & dicts as well...

In [170]:
s_sq = {x**2 for x in range(10)}
s_sq

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [171]:
{x: 100 for x in range(5)}

{0: 100, 1: 100, 2: 100, 3: 100, 4: 100}

In [172]:
{cabbage: f'rabbit_{cabbage}' for cabbage in s_sq}

{0: 'rabbit_0',
 1: 'rabbit_1',
 64: 'rabbit_64',
 4: 'rabbit_4',
 36: 'rabbit_36',
 9: 'rabbit_9',
 16: 'rabbit_16',
 49: 'rabbit_49',
 81: 'rabbit_81',
 25: 'rabbit_25'}

## Simple functions

In [173]:
def mysum(values):
    total = 0
    for value in values:
        total += value
    return total

In [174]:
mysum([1,2,3,4,5,6,7,8,9,10])

55

In [175]:
def myadd(x, y):
    return x + y
myadd(2, 40)

42

In [176]:
def intdiv(x, y):
    quot = x // y
    rem = x % y
    return quot, rem

In [177]:
result = intdiv(17, 3)
result

(5, 2)

In [178]:
type(result)

tuple

In [179]:
q, r = intdiv(17, 3)  # "tuple unpacking" or "destructuring assignment"

In [180]:
q

5

In [181]:
r

2

In [182]:
q, r = divmod(17, 3)

In [183]:
q, r

(5, 2)

In [184]:
intdiv(y=3, x=17)  # "keyword arguments"

(5, 2)

In [185]:
def mydefault(a, b, c='cvalue'):
    print(a,b,c)

In [186]:
_tmp = 'cvalue'
def mydefault(a, b, c=_tmp):
    print(a,b,c)

In [187]:
mydefault(1,2)

1 2 cvalue

In [188]:
mydefault(1,2,'otherwise')

1 2 otherwise

## Using modules and packages

A lot is built in to Python (called the 'builtins', actually), but if you need more, 
the `import` statement is used to make various libraries available to your program:

In [197]:
import collections

In [198]:
collections.namedtuple

In [199]:
import collections as coll  # import 'collections' library and give it the name 'coll'
                            #    in the current context

In [200]:
coll.namedtuple

Libraries are organized into modules and 'packages' (groups of modules). Sometimes you might only need a sub-module of a package:

In [201]:
import urllib.parse as uparse  # imports the 'parse' subpackage from 'urllib' and gives it
                            # the name 'uparse'
uparse

In [202]:
from urllib import parse# imports the 'parse' subpackage from 'urllib' 
parse

In [203]:
import urllib.parse

In [204]:
urllib.parse

In [206]:
import os.path

In [207]:
os.path

In [208]:
!pwd

/home/rick446/src/arborian-classes/src

Open the [Core Syntax Lab][core-syntax-lab]

[core-syntax-lab]: ./core-syntax-lab.ipynb

Common data science imports:

```python
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
```