# Functional Programming

- first class functions
- `lambda`
- higher-order functions `map`, `filter`, and `functools.reduce`
- list comprehensions

## Python Functions
* functions are "first class" objects, i.e., a program entity that can be created at runtime
 * assigned to a variable or element in a data structure
 * passed as an argument to a function
 * returned as the result of a function

In [1]:
def fact(n):
    '''returns n!
       More stuff
    '''
    if n < 2:
        return 1
    else:
        return n * fact(n - 1)
    
fact(3), fact(52)

(6, 80658175170943878571660636856403766975289505440883277824000000000000)

In [2]:
help(fact)

Help on function fact in module __main__:

fact(n)
    returns n!
    More stuff

In [3]:
fact.__doc__

'returns n!\n       More stuff\n    '

In [4]:
type(fact)

function

In [5]:
f = fact # let's take a look at www.pythontutor.com
f

In [6]:
f(8)

40320

## Lambda Functions
* the __`lambda`__ keyword creates an *anonymous* function within a Python expression
* body of __`lambda`__ functions limited to pure expressions, i.e.,
 * no assignments (until Py 3.8 with `:=`)
 * no Python statements such as __`while`__, __`try`__, etc.
* best use of __`lambda`__ is in the context of an argument list

In [7]:
def reverse(word):
    return word[::-1]

reverse('starbucks')

'skcubrats'

In [8]:
fruits = ['strawberry', 'banana', 'fig', 'apple', 'cherry',
          'kiwi']

In [9]:
sorted(fruits)

['apple', 'banana', 'cherry', 'fig', 'kiwi', 'strawberry']

# "DSU"

In [10]:
decorated_fruits = [(reverse(fruit), fruit) for fruit in fruits]
decorated_fruits

[('yrrebwarts', 'strawberry'),
 ('ananab', 'banana'),
 ('gif', 'fig'),
 ('elppa', 'apple'),
 ('yrrehc', 'cherry'),
 ('iwik', 'kiwi')]

In [11]:
decorated_fruits.sort()
decorated_fruits

[('ananab', 'banana'),
 ('elppa', 'apple'),
 ('gif', 'fig'),
 ('iwik', 'kiwi'),
 ('yrrebwarts', 'strawberry'),
 ('yrrehc', 'cherry')]

In [12]:
[fruit for (key, fruit) in decorated_fruits]

['banana', 'apple', 'fig', 'kiwi', 'strawberry', 'cherry']

Sorting takes `O(N log N)` comparisons.

DSU:

  - O(N) decorations (slow Python function)
  - O(N log N) comparisons (fast C function)
  - O(N) undecorations

In [13]:
sorted(fruits, key=reverse)

['banana', 'apple', 'fig', 'kiwi', 'strawberry', 'cherry']

In [14]:
sorted(fruits, key=lambda word: word[::-1])

['banana', 'apple', 'fig', 'kiwi', 'strawberry', 'cherry']

### Syntax for `lambda`

`lambda` arg1, arg2, ...: expr

```python
_ = lambda x, y: expr(x, y)

# means

def _(x, y):
    return expr(x, y)
```

In [15]:
# how about sorting the list of fruits by the slice (pun
# intended) which discards the first and last characters,
# e.g., 'anan', 'ppl', etc.

sorted(fruits, key=lambda w: w[1:-1])

['banana', 'cherry', 'fig', 'kiwi', 'apple', 'strawberry']

In [16]:
from collections import defaultdict

dd = defaultdict(lambda:'Komodo')
dd['Starbucks']

'Komodo'

In [17]:
dd['skubratS']

'Komodo'

In [18]:
dd

defaultdict(<function __main__.<lambda>()>,
            {'Starbucks': 'Komodo', 'skubratS': 'Komodo'})

## `map(func, args1, [args2, ...])`
* takes a function as its first argument returns an iterable where each item is the result of applying the function to successive elements of the second argument (an iterable)

In [19]:
def fact(n):
    '''returns n!
       More stuff
    '''
    if n < 2:
        return 1
    else:
        return n * fact(n - 1)

for n in range(9):
    print(n, fact(n))

0 1
1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320

In [20]:
results = map(fact, range(9))
for result in results:
    print(result)

1
1
2
6
24
120
720
5040
40320

In [21]:
map(fact, range(9))

In [22]:
%%python2
print map(lambda x: x**2, range(5))

[0, 1, 4, 9, 16]

In [23]:
map(lambda x: x**2, range(5))  # maps are "lazily evaluated" in Python 3

In [24]:
list(map(lambda x: x**2, range(5)))

[0, 1, 4, 9, 16]

In [25]:
m = map(lambda x: x**2, range(40))

In [26]:
for item in m:
    print(item)
    if item > 100:
        break

0
1
4
9
16
25
36
49
64
81
100
121

In [27]:
list(m)

[144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521]

In [28]:
# ['foo', 'bar'].join('-') <== does not work in Python
'-'.join(['foo', 'bar'])

'foo-bar'

In [29]:
# how about mapping '*' to a string?
# or mapping '**' to numbers?
''.join(map(lambda x: x * 2, 'Atlanta'))

'AAttllaannttaa'

In [30]:
list(map(lambda x: x ** 3, range(1, 10)))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [31]:
[x ** 3 for x in range(1, 10)]

[1, 8, 27, 64, 125, 216, 343, 512, 729]

Mapping functions can take multiple arguments:

In [32]:
list(map(lambda a, b, c: a+b+c, 'abcde', 'fghij', 'klmno'))

['afk', 'bgl', 'chm', 'din', 'ejo']

In [33]:
lst = list(map(
    lambda a, b, c: a+b+c, 
    ['a', 'b', 'c', 'd', 'e'],
    ['f', 'g', 'h', 'i', 'j'],
    ['k', 'l', 'm', 'n', 'o']
))
lst

['afk', 'bgl', 'chm', 'din', 'ejo']

In [34]:
def abc(a, b, c):
    return a+b+c

list(map(abc, 'abcde', 'fghij', 'klmno'))

['afk', 'bgl', 'chm', 'din', 'ejo']

In [35]:
x = range(10)
y = range(10, 50, 5)

In [36]:
len(x), len(y)

(10, 8)

In [37]:
z = map(lambda a, b: a+b, x, y)

In [38]:
lz = list(z)
lz

[10, 16, 22, 28, 34, 40, 46, 52]

In [39]:
len(lz)

8

## Higher-Order Functions
* a function that takes another function as an argument or returns a function as a result
 * __`map()`__ (as well as __`filter()`__ and __`reduce()`__)
 * __`sorted()`__–takes an optional key arg which lets you provide a function which is applied to each item for sorting

In [40]:
fruits = ['strawberry', 'banana', 'fig', 'apple', 'cherry', 'kiwi']
sorted(fruits)

['apple', 'banana', 'cherry', 'fig', 'kiwi', 'strawberry']

In [41]:
sorted(fruits, key=len, reverse=True)

['strawberry', 'banana', 'cherry', 'apple', 'kiwi', 'fig']

In [42]:
reverse??

In [43]:
sorted(fruits, key=reverse)

['banana', 'apple', 'fig', 'kiwi', 'strawberry', 'cherry']

## filter(func, seq)
* applies its first arg, a function, to its second argument
* if the function returns truthy, keep the element. Otherwise discard

In [44]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [45]:
def odd(num):
    return num % 2

list(filter(odd, range(20)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [46]:
from itertools import filterfalse

In [47]:
list(filterfalse(odd, range(20)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [48]:
list(map(odd, range(20)))

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [49]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [50]:
list(filter(lambda num: num % 2, range(20)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [51]:
# using filter and lambda, pull out all numbers divisible
# by 3 from a list of random numbers
import random
mylist = [random.randint(-10, 100) for x in range(10)]
mylist

[33, 91, 47, 0, 67, 87, 38, 77, 93, 70]

In [52]:
list(filter(lambda num: num % 3 == 0, mylist))

[33, 0, 87, 93]

In [53]:
cities = [
    {
        'name': 'city_%d' % i,
        'population': random.random() * 10e6,
    }
    for i in range(50)
]
cities[:4]

[{'name': 'city_0', 'population': 2790861.406485139},
 {'name': 'city_1', 'population': 4603541.893149328},
 {'name': 'city_2', 'population': 2414461.5057885055},
 {'name': 'city_3', 'population': 1739372.335370486}]

In [54]:
list(filter(lambda city: city['population'] > 9e6, cities))

[{'name': 'city_21', 'population': 9494880.71105058},
 {'name': 'city_24', 'population': 9488341.017922156},
 {'name': 'city_32', 'population': 9113905.25420723},
 {'name': 'city_34', 'population': 9243442.538915893},
 {'name': 'city_40', 'population': 9844705.513927909},
 {'name': 'city_41', 'population': 9395970.280859279},
 {'name': 'city_44', 'population': 9562698.706898874},
 {'name': 'city_46', 'population': 9572168.77975417}]

## We can further combine functions...

In [55]:
large_cities = filter(lambda city: city['population'] > 9e6, cities)
large_city_names = map(lambda city: city['name'], large_cities)
list(large_city_names)

['city_21',
 'city_24',
 'city_32',
 'city_34',
 'city_40',
 'city_41',
 'city_44',
 'city_46']

In [56]:
list(map(fact, filter(odd, range(12))))

[1, 6, 120, 5040, 362880, 39916800]

In [57]:
x0 = filter(odd, range(12))
x1 = map(fact, x0)
list(x1)

[1, 6, 120, 5040, 362880, 39916800]

In [58]:
list(map(str, range(2, 11))) + list('JQKA')

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [59]:
'2 3 4 5 6 7 8 9 10 J Q K A'.split()

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

# Map vs Filter

|                    | Map                           | Filter                        |
|--------------------|-------------------------------|-------------------------------|
| Length of result   | same as the input             | same or shorter than input    |
| Elements of result | return values of the function | subset of elements from input |

## reduce()
* produces a single aggregate result from any finite iterable object
* was built in to Python 2, but "demoted" to the __`functools`__ module in Python 3
* most common use of __`reduce()`__, summation, is better served by the __`sum()`__ builtin
* many examples of __`reduce()`__ are clearer when written as __`for`__ loops

In [60]:
from operator import add
help(add)

Help on built-in function add in module _operator:

add(a, b, /)
    Same as a + b.

In [61]:
from functools import reduce
from operator import add
lst = range(101)

In [62]:
reduce(add, lst)

5050

In [63]:
%timeit reduce(add, lst)

4.52 µs ± 169 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [64]:
%timeit sum(lst)

900 ns ± 122 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [65]:
%%timeit
x = 0
for xx in lst:
    x += xx

3.95 µs ± 121 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [66]:
def add(accum, value):
    res = accum + value
    print('add({}, {}) => {}'.format(accum, value, res))
    return res

inp = list(range(20, 40))

In [69]:
reduce(add, inp)

add(20, 21) => 41
add(41, 22) => 63
add(63, 23) => 86
add(86, 24) => 110
add(110, 25) => 135
add(135, 26) => 161
add(161, 27) => 188
add(188, 28) => 216
add(216, 29) => 245
add(245, 30) => 275
add(275, 31) => 306
add(306, 32) => 338
add(338, 33) => 371
add(371, 34) => 405
add(405, 35) => 440
add(440, 36) => 476
add(476, 37) => 513
add(513, 38) => 551
add(551, 39) => 590

590

# List comprehensions 

Making functional programming easier...

`{ x | x e R if x is even}`

==>

```python
[x for x in R if x % 2 == 0 ]
```

In [70]:
%timeit [x * 2 for x in range(500)]

26.8 µs ± 494 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [71]:
%timeit list(map(lambda x: x * 2, range(500)))

47 µs ± 3 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [72]:
%%timeit
lst = []
for x in range(500):
    lst.append(x * 2)

46.9 µs ± 2.61 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [73]:
%%timeit
lst = [None] * 500
for x in range(500):
    lst[x] = x * 2

31.7 µs ± 1.25 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [74]:
[
    (x, y) 
    for x in range(4) 
    for y in range(4) 
]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3)]

In [75]:
lst = []
for x in range(4):
    for y in range(4):
        lst.append((x, y))
lst

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3)]

In [76]:
[
    [(r, c) for c in range(4)] 
    for r in range(4)
]

[[(0, 0), (0, 1), (0, 2), (0, 3)],
 [(1, 0), (1, 1), (1, 2), (1, 3)],
 [(2, 0), (2, 1), (2, 2), (2, 3)],
 [(3, 0), (3, 1), (3, 2), (3, 3)]]

In [77]:
[
    x**3 + y 
    for x in range(20) 
    if x % 3 == 0
    if x % 2 == 0 
    for y in [2,3]
]

[2, 3, 218, 219, 1730, 1731, 5834, 5835]

In [78]:
lst = []
for x in range(20):
    if x % 3 == 0:
        if x % 2 == 0:
            for y in [2,3]:
                lst.append(x ** 3 + y)
lst

[2, 3, 218, 219, 1730, 1731, 5834, 5835]

In [79]:
'a'.isalpha()

True

In [80]:
str.isalpha('aa')

True

In [81]:
''.join(filter(
    # lambda ch: ch.isalpha(), 
    str.isalpha,
    'this is the time for all good developers'))

'thisisthetimeforallgooddevelopers'

In [82]:
''.join([
    letter
    for letter in 'this is the time for all good developers' 
    if letter.isalpha()
])

'thisisthetimeforallgooddevelopers'

# Lab

Open [Functional Programming Lab][functional-lab]

[functional-lab]: ./functional-lab.ipynb